<div class="container">
    <img class="logo" src="https://i.ibb.co/F5YWMQD/Wassini-logo-without-bg.png"  width="147" height="141" alt="Wassini-logo-without-bg">
<p class="intro-eligibilite-contact">Avec CMR Wassini, profiter de nos services sans avoir à vous deplacer pour se renseigner et s'orienter</p>

<div class="container-eligibilite-contact">
    <div class="eligibilite">
        <!-- <a href="https://imgbb.com/"> -->
            <img (click)="goToElligibilityPage()" class="img-eligibilite" 
                src="https://i.ibb.co/28sf5x0/eligibilite-icon.png" 
                width="100px" height="99px" 
                alt="eligibilite-icon" >
        <!-- </a>    -->
        <p class="eligibilite-text">Savoir son éligibilité à la pension</p>
    </div>
    <div class="contact">
        <!-- <a href="https://imgbb.com/"> -->
            <img
                (click)="goToContactPage()"  
                class="img-contact" 
                src="https://i.ibb.co/pjzFWKh/contactez-icon-removebg.png" 
                width="80px" height="80px"
                alt="contactez-icon-removebg" >
            <!-- <mat-icon class="img-contact">contact_phone</mat-icon> -->
        <!-- </a> -->
        <p class="contact-text">Contacts utiles</p>
    </div>
    
</div>
</div>