<div class="container-resultat">
    <section class="header">
        <img (click)="goToAccueilPage()" class="logo" src="https://i.ibb.co/F5YWMQD/Wassini-logo-without-bg.png"
            alt="Wassini-logo-without-bg">
    </section>
    <app-timeline [classNames]="classNamesForTimeline"></app-timeline>
    <div class="main-container">
        <app-result-box-online [childrenPourcentage]="childrenPourcentage" [partnerPourcentage]="partnerPourcentage" [childrenNames]="childrenNames"></app-result-box-online>
        <div class="container-btns">
            <button class="result-btn" (click)="goToSimTelephonique()">Effectuer une validation téléphonique</button>
            <button class="result-btn" (click)="goParcours()">Consulter le parcours de préparation de dossier</button>
            
            <!-- <button class="retour-btn" (click)="goBack()">Retour</button> -->
            <!-- <button class="result-btn">Télécharger le parcours de préparation de dossier</button> -->
            <!-- <button class="retour-btn" (click)="goBack()">Retour</button> -->

           
            
            <!-- <button class="retour-btn" (click)="goBack()">Retour</button> -->


        </div>
        
    </div>
</div>