<div class="container-resultat">
    <img (click)="goToAccueilPage()"class="logo" src="https://i.ibb.co/F5YWMQD/Wassini-logo-without-bg.png" width="100px" height="110px"alt="Wassini-logo-without-bg">
    <app-timeline [classNames]="classNamesForTimeline"></app-timeline>
    <app-result-box-online></app-result-box-online>
    <div class="container-btns">
        <button class="result-btn">Effectuer une validation téléphonique</button>
        <button class="result-btn">Consulter le parcours de préparation de dossier</button>
        <button class="result-btn">Télécharger le parcours de préparation de dossier</button>
        <button class="retour-btn">Retour</button>
    </div>
</div>