<div class="container-resultat">
    <section class="header">
        <img (click)="goToAccueilPage()" class="logo" src="https://i.ibb.co/F5YWMQD/Wassini-logo-without-bg.png"
            alt="Wassini-logo-without-bg">
    </section>
    <app-timeline [classNames]="classNamesForTimeline"></app-timeline>
    <div class="main-container">

        <h4 class="qst">Le défunt avait-il des enfants en charge?</h4>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Color selection">
            <mat-chip-option *ngFor="let chip of availableBooleans"
                [color]="selectedBooleanHasChildren=== chip.name ? chip.color : null"
                (click)="onChipClickHasChildren(chip.name);">
                {{chip.name}}
            </mat-chip-option>
        </mat-chip-listbox>


        <!-- Cas où le défunt n'a pas des enfant en charge -->
        <div *ngIf="sharedVariablesService.hasChildren === false" class="condition">
            <!-- Traitement du cas utilisateur = enfant hasChildren = false -->
            <div *ngIf="sharedVariablesService.userRelationship === 'enfant'" class="condition">
                <h4 class="qst">Le conjoint du défunt est-il encore en vie?</h4>
                <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Color selection">
                    <mat-chip-option *ngFor="let chip of availableBooleans"
                        [color]="selectedIsStillPartner=== chip.name ? chip.color : null"
                        (click)="onChipClickStillPartnerAlive(chip.name); updateButtonState();">
                        {{chip.name}}
                    </mat-chip-option>
                </mat-chip-listbox>
                <div *ngIf="sharedVariablesService.isPartnerAlive === true" class="condition">
                    <h4 class="qst">Son sexe:</h4>
                    <form>
                        <mat-form-field class="select">
                            <mat-select [(ngModel)]="sharedVariablesService.partnerSexe" name="humans"
                                (ngModelChange)="updateButtonState();">
                                <mat-option *ngFor="let human of humans" [value]="human.value">
                                    {{human.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                    <h4 class="qst">Le défunt était-il marié pour une durée de plus de 2 ans?</h4>
                    <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Color selection">
                        <mat-chip-option *ngFor="let chip of availableBooleans"
                            [color]="selectedIsValidMarriagePeriod=== chip.name ? chip.color : null"
                            (click)="onChipClickMarriagePeriod(chip.name); updateButtonState();">
                            {{chip.name}}
                        </mat-chip-option>
                    </mat-chip-listbox>
                    <div *ngIf="sharedVariablesService.partnerSexe === 'femelle'" class="condition">
                        <h4 class="qst">Est-elle divorcée, remariée ou répudiée?</h4>
                        <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Color selection">
                            <mat-chip-option *ngFor="let chip of availablePartnerStatesFemale"
                                [color]="selectedIsStillPartner=== chip.name ? chip.color : null"
                                (click)="onChipClickStillPartnerChild(chip.name); updateButtonState();">
                                {{chip.name}}
                            </mat-chip-option>
                        </mat-chip-listbox>
                    </div>
                    <div *ngIf="sharedVariablesService.partnerSexe === 'male'" class="condition">
                        <h4 class="qst">Est-il divorcé ou remarié?</h4>
                        <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Color selection">
                            <mat-chip-option *ngFor="let chip of availablePartnerStatesMale"
                                [color]="selectedIsStillPartner=== chip.name ? chip.color : null"
                                (click)="onChipClickStillPartnerChild(chip.name); updateButtonState();">
                                {{chip.name}}
                            </mat-chip-option>
                        </mat-chip-listbox>
                        <div *ngIf="sharedVariablesService.partnerMarialStatus === 'veuf'" class="condition">
                            <h4 class="qst">Est-il infirme?</h4>
                            <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Color selection">
                                <mat-chip-option *ngFor="let chip of availableBooleans"
                                    [color]="selectedIsPartnerInfirm=== chip.name ? chip.color : null"
                                    (click)="onChipClickPartnerInfirm(chip.name); updateButtonState();">
                                    {{chip.name}}
                                </mat-chip-option>
                            </mat-chip-listbox>
                            <div *ngIf="sharedVariablesService.isPartnerInfirm === false">
                                <h4 class="qst">Est-il retraité?</h4>
                                <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Color selection">
                                    <mat-chip-option *ngFor="let chip of availableBooleans"
                                        [color]="selectedIsPartnerRetired=== chip.name ? chip.color : null"
                                        (click)="onChipClickPartnerRetired(chip.name); updateButtonState();">
                                        {{chip.name}}
                                    </mat-chip-option>
                                </mat-chip-listbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Traitement du cas utilisateur != enfant hasChildren = false -->
            <div *ngIf="sharedVariablesService.userRelationship !== 'enfant'" class="condition">
                <h4 class="qst">Le défunt était-il marié pour une durée de plus de 2 ans?</h4>
                <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Color selection">
                    <mat-chip-option *ngFor="let chip of availableBooleans"
                        [color]="selectedIsValidMarriagePeriod=== chip.name ? chip.color : null"
                        (click)="onChipClickMarriagePeriod(chip.name); updateButtonState();">
                        {{chip.name}}
                    </mat-chip-option>
                </mat-chip-listbox>
                <div *ngIf="sharedVariablesService.partnerSexe === 'femelle'" class="condition">
                    <h4 class="qst">Êtes-vous divorcée, remariée ou répudiée du défunt?</h4>
                    <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Color selection">
                        <mat-chip-option *ngFor="let chip of availablePartnerStatesFemale"
                            [color]="selectedIsStillPartner=== chip.name ? chip.color : null"
                            (click)="onChipClickStillPartnerChild(chip.name); updateButtonState();">
                            {{chip.name}}
                        </mat-chip-option>
                    </mat-chip-listbox>
                </div>
                <div *ngIf="sharedVariablesService.partnerSexe === 'male'" class="condition">
                    <h4 class="qst">Êtes-vous divorcé ou remarié?</h4>
                    <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Color selection">
                        <mat-chip-option *ngFor="let chip of availablePartnerStatesMale"
                            [color]="selectedIsStillPartner=== chip.name ? chip.color : null"
                            (click)="onChipClickStillPartnerChild(chip.name); updateButtonState();">
                            {{chip.name}}
                        </mat-chip-option>
                    </mat-chip-listbox>
                    <div *ngIf="sharedVariablesService.partnerMarialStatus === 'veuf'" class="condition">
                        <h4 class="qst">Êtes-vous infirme?</h4>
                        <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Color selection">
                            <mat-chip-option *ngFor="let chip of availableBooleans"
                                [color]="selectedIsPartnerInfirm=== chip.name ? chip.color : null"
                                (click)="onChipClickPartnerInfirm(chip.name); updateButtonState();">
                                {{chip.name}}
                            </mat-chip-option>
                        </mat-chip-listbox>
                        <div *ngIf="sharedVariablesService.isPartnerInfirm === false" class="condition">
                            <h4 class="qst">Êtes-vous retraité?</h4>
                            <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Color selection">
                                <mat-chip-option *ngFor="let chip of availableBooleans"
                                    [color]="selectedIsPartnerRetired=== chip.name ? chip.color : null"
                                    (click)="onChipClickPartnerRetired(chip.name); updateButtonState();">
                                    {{chip.name}}
                                </mat-chip-option>
                            </mat-chip-listbox>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- Cas où le défunt a des enfant en charge -->
        <div *ngIf="sharedVariablesService.hasChildren === true" class="condition">
            <!-- Saisi d'info sur les enfants -->
            <h4 class="qst">Veuillez saisir les informations relatives aux fils/filles du défunt:</h4>
            <div *ngFor="let item of childrenArray">
                <app-enfant [order]="item + 1" (inputChange)="updateButtonState();"
                    (removeChange)="updateChildrenArray();"></app-enfant>
            </div>
            <button mat-fab extended class="add_child" (click)="declareNewChild();updateButtonState();">
                <i class="pi pi-plus" style=" font-size: 14px;"></i>
                Déclarer un autre fils/fille

            </button>

            <!-- Traitement du cas utilisateur =  veuve -->
            <div *ngIf="sharedVariablesService.userRelationship === 'veuve'" class="condition">
                <h4 class="qst">Êtes-vous divorcée, remariée ou répudiée?</h4>
                <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Color selection">
                    <mat-chip-option *ngFor="let chip of availablePartnerStatesFemale"
                        [color]="selectedIsStillPartner=== chip.name ? chip.color : null"
                        (click)="onChipClickStillPartner(chip.name); updateButtonState();">
                        {{chip.name}}
                    </mat-chip-option>
                </mat-chip-listbox>
            </div>


            <!-- Traitement du cas utilisateur = veuf -->
            <div *ngIf="sharedVariablesService.userRelationship === 'veuf'" class="condition">
                <h4 class="qst">Êtes-vous divorcé, remarié?</h4>
                <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Color selection">
                    <mat-chip-option *ngFor="let chip of availablePartnerStatesMale"
                        [color]="selectedIsStillPartner=== chip.name ? chip.color : null"
                        (click)="onChipClickStillPartner(chip.name); updateButtonState();">
                        {{chip.name}}
                    </mat-chip-option>
                </mat-chip-listbox>

                <div *ngIf="sharedVariablesService.isStillPartner === true" class="condition">
                    <h4 class="qst">Êtes-vous infirme?</h4>
                    <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Color selection">
                        <mat-chip-option *ngFor="let chip of availableBooleans"
                            [color]="selectedIsPartnerInfirm=== chip.name ? chip.color : null"
                            (click)="onChipClickPartnerInfirm(chip.name); updateButtonState();">
                            {{chip.name}}
                        </mat-chip-option>
                    </mat-chip-listbox>

                    <div *ngIf="sharedVariablesService.isPartnerInfirm === false" class="condition">
                        <h4 class="qst">Êtes-vous retraité?</h4>
                        <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Color selection">
                            <mat-chip-option *ngFor="let chip of availableBooleans"
                                [color]="selectedIsPartnerRetired=== chip.name ? chip.color : null"
                                (click)="onChipClickPartnerRetired(chip.name); updateButtonState();">
                                {{chip.name}}
                            </mat-chip-option>
                        </mat-chip-listbox>
                    </div>
                </div>
            </div>


            <!-- Traitement du cas utilisateur = enfant hasChildren true -->
            <div *ngIf="sharedVariablesService.userRelationship === 'enfant'" class="condition">
                <h4 class="qst">Le conjoint du défunt est-il encore en vie?</h4>
                <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Color selection">
                    <mat-chip-option *ngFor="let chip of availableBooleans"
                        [color]="selectedIsStillPartner=== chip.name ? chip.color : null"
                        (click)="onChipClickStillPartnerAlive(chip.name); updateButtonState();">
                        {{chip.name}}
                    </mat-chip-option>
                </mat-chip-listbox>
                <div *ngIf="sharedVariablesService.isPartnerAlive === true" class="condition">
                    <h4 class="qst">Son sexe:</h4>
                    <form>
                        <mat-form-field class="select">
                            <mat-select [(ngModel)]="sharedVariablesService.partnerSexe" name="humans"
                                (ngModelChange)="updateButtonState();">
                                <mat-option *ngFor="let human of humans" [value]="human.value">
                                    {{human.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                    <div *ngIf="sharedVariablesService.partnerSexe === 'femelle'" class="condition">
                        <h4 class="qst">Est-elle divorcée, remariée ou répudiée?</h4>
                        <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Color selection">
                            <mat-chip-option *ngFor="let chip of availablePartnerStatesFemale"
                                [color]="selectedIsStillPartner=== chip.name ? chip.color : null"
                                (click)="onChipClickStillPartnerChild(chip.name); updateButtonState();">
                                {{chip.name}}
                            </mat-chip-option>
                        </mat-chip-listbox>
                    </div>
                    <div *ngIf="sharedVariablesService.partnerSexe === 'male'" class="condition">
                        <h4 class="qst">Est-il divorcé ou remarié?</h4>
                        <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Color selection">
                            <mat-chip-option *ngFor="let chip of availablePartnerStatesMale"
                                [color]="selectedIsStillPartner=== chip.name ? chip.color : null"
                                (click)="onChipClickStillPartnerChild(chip.name); updateButtonState();">
                                {{chip.name}}
                            </mat-chip-option>
                        </mat-chip-listbox>
                        <div *ngIf="sharedVariablesService.partnerMarialStatus === 'veuf'" class="condition">
                            <h4 class="qst">Est-il infirme?</h4>
                            <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Color selection">
                                <mat-chip-option *ngFor="let chip of availableBooleans"
                                    [color]="selectedIsPartnerInfirm=== chip.name ? chip.color : null"
                                    (click)="onChipClickPartnerInfirm(chip.name); updateButtonState();">
                                    {{chip.name}}
                                </mat-chip-option>
                            </mat-chip-listbox>
                            <div *ngIf="sharedVariablesService.isPartnerInfirm === false">
                                <h4 class="qst">Est-il retraité?</h4>
                                <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Color selection">
                                    <mat-chip-option *ngFor="let chip of availableBooleans"
                                        [color]="selectedIsPartnerRetired=== chip.name ? chip.color : null"
                                        (click)="onChipClickPartnerRetired(chip.name); updateButtonState();">
                                        {{chip.name}}
                                    </mat-chip-option>
                                </mat-chip-listbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="footer">
    <button mat-raised-button class="next" (click)="goBack()">Retour</button>
    <button mat-raised-button class="next" [disabled]="isButtonDisabled" color="primary"
        (click)="onSubmit()">Valider</button>
</section>