@import "primeicons/primeicons.css";

.details{
    display: flex;
    width: 30%;
    height: auto;
    max-width: 200%;
    max-height: 200%;
    flex-direction: column;
    border-radius: 6px;
    background-color: #fff;
    position: absolute;
    /* top: 0;
    left: 0; */
    /* overflow: hidden; */
    z-index: 2;
    box-shadow: 0px 8px 8px 1px rgba(56, 65, 82,1);
}
@media screen and (max-width: 700px) {
    .details {
      width: 40%;
    }
  }

i{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0.5%;
}


.details-title,
.details-paragraph {
    position: relative; 
} 

.details-title{
    width: 100%;
    height: auto;
    background-color: #384152;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    flex-shrink: 0;
    
}

.details-title h4{
    margin-left: 0.5%;
    margin-right: 0.2%;
    color: #fff;
    text-transform: capitalize;
    font: bold;
    font-size: medium;
    word-break: normal; 
}

.details-paragraph{
    color: #2e3543;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 0px 0px 6px 6px;
    padding-left: 3%;
    padding-right: 3%;
    
}
.details-paragraph p{
    word-break: normal;
    padding-right: 3%;
    font-size: small;
    /* line-height: 1rem;  */
    margin: 1.2%;
}

