<div class="container">
  <!-- <app-choix-langue></app-choix-langue> -->
  <!-- <app-eligibilite></app-eligibilite> -->
  <!-- <router-outlet></router-outlet> -->
  <!-- <app-timeline [classNames]="classNamesForTimeline"></app-timeline> -->
  <!-- <app-resultat></app-resultat> -->
  <!-- <app-choix-simulation></app-choix-simulation> -->
<!--   <app-simulation-en-ligne></app-simulation-en-ligne> -->
  <!-- <app-enfant></app-enfant> -->
  <!-- <app-parcours></app-parcours> -->
  <!-- <app-layer></app-layer> -->
 <!--  <app-event></app-event> -->
 <!-- <app-event-pack></app-event-pack> -->
 <app-resultat></app-resultat>
</div>