.container-resultat {
    display: flex;
    flex-direction: column;

    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row-reverse;
}

.logo {
    width: 5.8125rem;
    height: 3.75rem;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    width: 19.875rem;
    height: 2.625rem;
    color: #000;
    text-align: center;
    font-family: Itim;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-container input {
    width: 17.5625rem;
    height: 2.8125rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 1px solid #000;
    background: #FFF;
    position: relative;
    text-align: center;
    font-family: Itim;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.main-container input::placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}