<div class="container-resultat">
    <section class="header">
        <img (click)="goToAccueilPage()" class="logo" src="https://i.ibb.co/F5YWMQD/Wassini-logo-without-bg.png"
            alt="Wassini-logo-without-bg">
    </section>
    <app-timeline [classNames]="classNamesForTimeline"></app-timeline>
    <div class="main-container">
        <h3 class="title">Pour commencer votre simulation vueillez saisir :</h3>
        <input type="text" [(ngModel)]="cin" placeholder="CIN du défunt" required>
        <input type="tel" [(ngModel)]="tel" placeholder="Votre numéro de téléphone" required>
    </div>

</div>