<div class="container">
  <section class="header">
      <img (click)="goToAccueilPage()" class="logo" src="https://i.ibb.co/F5YWMQD/Wassini-logo-without-bg.png"
          alt="Wassini-logo-without-bg">
  </section>
  <app-timeline [classNames]="classNamesForTimeline"></app-timeline>
  <div class="container-pop">
      
      <div class="pop-up">
          <mat-icon class="close" (click)="goToChoixSimulation()">
              close
          </mat-icon>
          <div class="text1 text">
            Le défunt est décédé avant la retraite. 
            Veuillez vous rendre à l'employeur pour traiter votre dossier.          </div>  
              
          <!-- <div class="text2 text">
              Nos agents vous contacteront dans les plus brefs délais.
          </div>   -->
          </div>
  </div>   
</div>