@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Itim&display=swap');

.layer {
    min-width: 100%;
    min-height: 15%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px #80690B double;
}

.title {
    width: 20%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
    font-size: large;
    font-family: Itim;
    text-transform: capitalize;
}

.container {
    width: 80%;
    min-height: 0;
    display:flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: visible; 
    padding: 0.5rem; 
}

.container::-webkit-scrollbar {
    display: none;
}

.content{
    flex-shrink: 0;
}