<div class="layer">
    <div class="title" [style.background-color]="titleBgColor" [style.color]="titleColor">{{layerTitle}}</div>
    <div class="container"[style.background-color]="containerBgColor">
        <app-event [iconColor]="titleBgColor" [eventColor]="titleColor" (mouseenter)="showDetails($event);"(mouseleave)="hideDetails();" eventTitle="Title"></app-event>
        <app-event-details [showDetailsFlag]="showDetailsFlag" [detailsStyle]="detailsStyle" eventTitle="title" eventDetails="details" [iconColor]="titleBgColor"></app-event-details>

        
        
    </div>
</div>