@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Itim&display=swap');

.layer{
    min-width: 100%;
    min-height: 15%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid;
}

.title {
    width: 20%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
    font-size: large;
    font-family: Itim;
    text-transform: capitalize;
}
@media screen and (max-width: 700px) {
    .title {
      flex-shrink: 0;
    }
  }

.container {
    min-width: 80%;
    min-height: 50%;
    display:flex;
    flex-direction: row;
    /* overflow-x: auto;
    overflow-y: visible;  */
    padding: 0.5rem; 
    flex-grow: 3;
    flex-basis: fit-content;
    
}
.space{
    height: 10px;
    flex-shrink: 0;
}

.container::-webkit-scrollbar {
    display: none;
}

.content{
    flex-shrink: 0;
}