<div class="layer">
    <div class="title" [style.background-color]="titleBgColor" [style.color]="titleColor">{{layerTitle}}</div>
    <div class="container"[style.background-color]="containerBgColor">
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        
    </div>
</div>