<div class="layer">
    <div class="title" [style.background-color]="titleBgColor" [style.color]="titleColor">{{layerTitle}}</div>
    <div class="container"[style.background-color]="containerBgColor">
        <app-event-pack class="content"></app-event-pack>
        <app-event-pack class="content"></app-event-pack>
    </div>
</div>
<div class="layer">
    <div class="title" [style.background-color]="titleBgColor" [style.color]="titleColor">{{layerTitle}}</div>
    <div class="container"[style.background-color]="containerBgColor">
        
    </div>
</div>