.logo {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.img-contact{
    margin-top:15px;
    margin-left: 19px;
    margin-right: auto;
}

.img-eligibilite{
    margin-top:13px;
    margin-left: 8px;
    margin-right: auto;
}

.contact{
    margin-left: 30px;
    width: 120px;
    height: 120px;
    margin-top: 2px;
    flex-shrink: 0;
    border-radius: 11px;
    border: 1px solid rgba(0, 0, 0, 0.33);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.eligibilite{
    margin-left: 40px;
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 11px;
    border: 1px solid rgba(0, 0, 0, 0.33);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}



.container-eligibilite-contact{
    display: inline-flex;
}

.intro-eligibilite-contact{
    margin-bottom: 80px;
    width: 318px;
    height: 42px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Itim;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-text{
    margin-top: 29px;
    margin-left: 10px;
    width: 115px;
height: 16px;
flex-shrink: 0;
color: #00487C;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.eligibilite-text{
    margin-top: 13px;
    margin-left:30px;
    width: 115px;
height: 16px;
flex-shrink: 0;
color: #00487C;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
}