@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Itim&display=swap');

.main-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-end !important; 
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 80%;
}
@media screen and (min-width: 400px) {
  .header {
    margin-left: 92%;
  }
}

.header img{
  width: 100%;
  height: 100%;
}

h3{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Itim;
}

.layers{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
}