<section class="main-container">
  <section class="header">
    <img class="logo" src="https://i.ibb.co/F5YWMQD/Wassini-logo-without-bg.png" alt="Wassini-logo-without-bg">
  </section>
  <h3>Découvrez le parcours de préparation de votre dossier</h3>
  <div class="layers">
    <div *ngFor="let displayedIndex of displayedLayerIndices; let index = index">
      <app-layer 
      [layer]="layers[displayedIndex]" [marginLeft]="marginsIndices[index]*1.5"></app-layer>
    </div>
  </div>

  
  
</section>
<div class="btns">
  <button class="btn"> Retour</button>
  <button class="btn"> Exporter PDF 
    <i class="pi pi-file-pdf" style="color: #47B1ED"></i>
  </button>
</div>
