@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Itim&display=swap');
@import "primeicons/primeicons.css";

.main-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-end !important;
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 80%;
}

@media screen and (min-width: 400px) {
  .header {
    margin-left: 92%;
  }
}

.header img {
  width: 100%;
  height: 100%;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Itim;
}

.layers {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 6%;
}

.btn {
  margin: 2rem;
  height: 2.3rem;
  width: 9.5rem;
  background-color: transparent;
  border-radius: 6px;
  box-shadow: 0px 8px 8px 1px rgba(56, 65, 82, 1);
  text-align: center;
  /* font-family: Inter; */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #00487C;
  white-space: nowrap;
}

.btn:first-child{
  color: black;
}

@media screen and (max-width: 406px) {
  i {
    font-size: 0.9rem;
  }
}

.details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2%;
}

.layer-details{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.layer-details h3{
  text-align: start;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 0.5rem;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 0.5rem;
  font-size: x-large;
}

.event-details{
  padding-left: 0.5rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: 1px solid ;
  border-image: linear-gradient(to right,#dddddd00,#dddddd7b, #dddddd96,#555555a5, #dddddd96, #dddddd7b, #dddddd00);
  border-image-slice: 1;
  padding-top: 0.2rem;
  margin-left: 0.2rem;

}
.event-title1{
  width: 30%;
}



.event-description {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  width: 70%; 
}
.event-description h4 {
  margin: 0; 
  color: rgba(56, 65, 82,1);
}







