<!-- <img src="https://ibb.co/gm04BWN" alt="wassini-logo"> -->
<!-- <a href="https://imgbb.com/"><img src="https://i.ibb.co/ZGQ2kg5/Wassini-logo.png?" width="147" height="121" alt="Wassini-logo" /></a> -->
<img src="https://i.ibb.co/F5YWMQD/Wassini-logo-without-bg.png"  width="147" height="141" alt="Wassini-logo-without-bg">
<p class="intro-text">Avec CMR Wassini vous êtes entre les bonnes mains</p>
<div class="div-buttons"> 
    <button class="btn-fr" (click)="goToEligibilitePage()">Version francaise</button>
    <button class="btn-ar">النسخة العربية</button>
    <button class="btn-amz">النسخة الأمازيغية</button>
</div>   