button{
    width: 281px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 15px;
    background: rgba(232, 231, 231, 0.72);

    color: #7D7A7A;
    text-align: center;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.div-buttons{
    display: grid;
	place-items: center;
    margin-top: 100px;
}

.btn-fr{
    margin-bottom: 55px;
}

.btn-ar{
    margin-bottom: 55px;
}
.btn-amz{
    margin-bottom: 55px;
}

.intro-text{
    width: 19.875rem;
    height: 2.625rem;
    flex-shrink: 0;
    color: #000;
    font-family: itim;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;    

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

img {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}